<html>
<head>
<meta charset="utf-8">
<title>Registration Page</title>
<link rel="stylesheet" href="static\register.css">


</head>
<body>
<div class="container" >
<div class="sign-up">
 <form action="/success" method="post">
 <hr>
 <hr>   
 <h1 class="heading"><h1>REGISTERATION PAGE</h1></b></h1>
 <hr>
 <hr> 
 <div class="text">
 <label for="username"><b>Name :</b></label><br>
 <input placeholder="Enter the Username" type="text" name="username" required/>
 </div>
 <div class="text">
 <label for="username"><b>Email :</b></label><br>   
 <input placeholder="Enter the Email_id" type="email" name="email" required/>
 </div>
 <div class="text">
    <label for="username"><b>Ph_No:</b></label><br>   
 <input placeholder="Enter the Mobile_Number" type="tel" name="phonenumber"required/>
 </div>
<div class="toop">
	<button type="submit">REGISTER</button> 
</div>
</div>
</form>
 </div>
</body>
</html>