<html>
  <head>
    <link rel="stylesheet" href="static\success.css">

  </head>
    <body>
      <div class="card">
        <table>
            <tr>
                <td>Username:</td>
                <td>{{username}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{email}}</td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td>{{phonenumber}}</td>
            </tr>
          </table>
     
        <i class="checkmark">✓</i>
        
      </div>
        <h1>Registered Successfully</h1> 
        <p>We received your informations<br>
          <br>
          <br>
         
      </div>
    </body>
</html>